.button {
  --color: #fff;
  --color-hover: #4b5064;
  --background: #2b3044;
  --background-hover: var(--background);
  --hover-back: #6d58ff;
  --hover-front: var(--p-high);
  padding: 8px 28px;
  border-radius: 20px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;

  border: none;
  outline: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: -webkit-radial-gradient(white, black);
  color: var(--c, var(--color));
  background: var(--b, var(--background));
  transition: color 0.2s linear var(--c-d, 0.2s),
    background 0.3s linear var(--b-d, 0.2s);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  background: var(--pb, var(--hover-back));
  top: 0;
  left: 0;
  right: 0;
  height: 200%;
  border-radius: var(--br, 40%);
  transform: translateY(var(--y, 50%));
  transition: transform var(--d, 0.34s) ease-in var(--d-d, 0s),
    border-radius 0.5s ease var(--br-d, 0.08s);
}

.button::after {
  --pb: var(--hover-front);
  --d: 0.42s;
}

.button div {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button div span {
  display: block;
  backface-visibility: hidden;
  transform: translateZ(0);
  animation: var(--name, none) 0.7s linear forwards 0.18s;
}

.button-alt {
  --color-hover: #4b5064;
  --background: #2b3044;
  --hover-back: #dfbd30;
  --hover-front: #df3030;
}

.button-simple {
  --background: var(--p-high);
  --background-hover: #1749db;
  --hover-back: transparent;
  --hover-front: transparent;
}

.button-in div span {
  --name: move;
}

.button-in div span {
  --c: var(--color-hover);
  --b: var(--background-hover);
}

.button-in::before,
.button-in::after {
  --y: 0;
  --br: 5%;
}

.button-in::after {
  --br: 10%;
  --d-d: 0.02s;
}

.button-out {
  --name: move-out;
}

.button-in::before {
  --d-d: 0.06s;
}

@keyframes move {
  30%,
  36% {
    transform: translateY(calc(-6px * var(--move))) translateZ(0)
      rotate(calc(-13deg * var(--rotate) * var(--part)));
  }

  50% {
    transform: translateY(calc(3px * var(--move))) translateZ(0)
      rotate(calc(6deg * var(--rotate) * var(--part)));
  }

  70% {
    transform: translateY(calc(-2px * var(--move))) translateZ(0)
      rotate(calc(-3deg * var(--rotate) * var(--part)));
  }
}

@keyframes move-out {
  30%,
  36% {
    transform: translateY(calc(6px * var(--move))) translateZ(0)
      rotate(calc(13deg * var(--rotate) * var(--part)));
  }

  50% {
    transform: translateY(calc(-3px * var(--move))) translateZ(0)
      rotate(calc(-6deg * var(--rotate) * var(--part)));
  }

  70% {
    transform: translateY(calc(2px * var(--move))) translateZ(0)
      rotate(calc(3deg * var(--rotate) * var(--part)));
  }
}
